variables:
  GIT_SUBMODULE_STRATEGY: recursive
  SIMULATOR_PAGES: "NVC"  # simulator from which the results should be published on GitLab pages (GHDL, Riviera-PRO)

#pyIPCMI-Selftest:
#  stage: Selftest
#  image: ${CI_REGISTRY}/docker-images/base-image:latest
#  before_script:
#    - pip3 install -r tools/GitLab-CI/requirements.txt
##    - ./tools/GitLab-CI/ghdl.setup.sh
#    - ./tools/GitLab-CI/poc.setup.sh
#  script:
##    - ./tools/GitLab-CI/poc.dryrun.sh
#    - ./tools/GitLab-CI/poc.run.sh "PoC.*"

Scripts:
  image: ${CI_REGISTRY}/docker-images/base-image:alpine
  script:
    - cp src/common/my_project.vhdl.template tb/common/my_project.vhdl  # use CopyFile when its supporting renaming
    - sed -i 's#\(constant\sMY_PROJECT_DIR\s*:\s*string\s*:=\s*\)".*";#\1"'"$(pwd)"'";#' tb/common/my_project.vhdl
    - sed -i 's#\(constant\sMY_OPERATING_SYSTEM\s*:\s*string\s*:=\s*\)".*";#\1"LINUX";#' tb/common/my_project.vhdl

    - CreateAndChangeDirectory "temp" "Simulation working directory"
    - |
      tee poc_namespace.tcl << EOF
      namespace eval ::poc {
        variable myConfigFile  "../tb/common/my_config_GENERIC.vhdl"
        variable myProjectFile "../tb/common/my_project.vhdl"
        variable vendor        "GENERIC";                               # GENERIC for vendor-less build; Xilinx, Altera,... for vendor specific build
      }
      EOF

      tee select_simulator.tcl << EOF
      if {[info exists nvc_dataDir]} {
        source ../../lib/OSVVM-Scripts/StartNVC.tcl
      } else {
        source ../../lib/OSVVM-Scripts/StartUp.tcl
      }
      EOF

      tee setup_simulator.tcl << EOF
      source ../select_simulator.tcl

      if {$::osvvm::ToolName eq "GHDL"} {
        SetExtendedAnalyzeOptions {-frelaxed -Wno-specs -Wno-elaboration}
        SetExtendedSimulateOptions {-frelaxed -Wno-specs -Wno-binding}

       } elseif {$::osvvm::ToolName eq "RivieraPRO"} {
        set RivieraSimOptions {-unbounderror}

      } elseif {$::osvvm::ToolName eq "NVC"} {
        SetExtendedAnalyzeOptions {--relaxed}

      } elseif {$::osvvm::ToolName eq "Sigasi"} {

      } else {
        error [format {
      ======================================
      Unknown simulator selected: %s

      Supported simulators:
        - GHDL
        - RivieraPRO
        - NVC
      Other tools:
        - Sigasi in VSCode
      ======================================
      } $::osvvm::ToolName]
      }

      proc disabled {file} {
        puts "Diabled from analysis: $file"
      }
      proc duplicate {file} {
        puts "Duplicate file: $file"
      }
      EOF

      tee osvvm_compile.tcl <<EOF
      source ../select_simulator.tcl
      build ../../lib/OsvvmLibraries.pro
      EOF

      tee poc_compile.tcl <<EOF
      variable OMIT_XILINX_FILES 1
      source ../setup_simulator.tcl

      library PoC
      analyze ../../tb/common/my_project.vhdl
      analyze ../../tb/common/my_config_GENERIC.vhdl
      build ../../src/PoC.pro
      EOF

      tee osvvm_sim.tcl <<EOF
      source ../setup_simulator.tcl
      build ../../lib/RunAllTests.pro
      EOF

      tee poc_sim.tcl <<EOF
      source ../setup_simulator.tcl
      build ../../tb/RunAllTests.pro
      EOF

      # Prepend namespace to all tcl files
      for tcl_file in poc_*.tcl; do
        tmp_file=$(mktemp)
        cat poc_namespace.tcl "$tcl_file" > "$tmp_file"
        mv "$tmp_file" "$tcl_file"
      done

  artifacts:
    paths:
      - tb/common/my_project.vhdl
      - temp/osvvm_compile.tcl
      - temp/select_simulator.tcl
      - temp/setup_simulator.tcl
      - temp/poc_compile.tcl
      - temp/osvvm_sim.tcl
      - temp/poc_sim.tcl
    expire_in: 1 hour


# --------------------
# ---- Templates -----
# --------------------
.collect_com:
  artifacts:
    paths:
      - temp/$SIMULATOR
      - lib/osvvm/*_generated.vhd
    expire_in: 1 week
    when: always

.collect_sim:
  artifacts:
    paths:
      - temp/$SIMULATOR
    reports:
      junit: "temp/junit/*.xml"
    expire_in: 1 week
    when: always

.compile:
  extends:
    - .collect_com
  script: exec-$SIMULATOR.sh -n --tcl-file=temp/${TCL_FILE}

.compileNVC:  # intermediate solution until exec-NVC exists
  extends:
    - .collect_com
  script:
    - CreateAndChangeDirectory "temp/NVC" "Simulation working directory"
    - nvc --do ../${TCL_FILE}

.simulate:
  extends:
    - .collect_sim
  script:
    - exec-$SIMULATOR.sh -n --tcl-file=temp/${TCL_FILE}
    - |
      if grep "temp/$SIMULATOR/$RESULT_NAME/logs/$RESULT_NAME.log" -e "^#\?\s*Build: $RESULT_NAME PASSED"; then
        echo "Build passed!"
      else
        echo "Error: Simulation for $RESULT_NAME did not pass!" && exit 1
      fi
  after_script:
    - mkdir temp/junit
    - CopyFile --rename "temp/$SIMULATOR/$RESULT_NAME/$RESULT_NAME.xml" "temp/junit/${SIMULATOR}_$RESULT_NAME.xml"

  allow_failure: true  # if case the Riviera license is in use

.simulateNVC:  # intermediate solution until exec-NVC exists
  extends:
    - .collect_sim
  script:
    - CreateAndChangeDirectory "temp/NVC" "Simulation working directory"
    - nvc --do ../${TCL_FILE}
    - |
      if grep "$RESULT_NAME/logs/$RESULT_NAME.log" -e "^#\?\s*Build: $RESULT_NAME PASSED"; then
        echo "Build passed!"
      else
        echo "Error: Simulation for $RESULT_NAME did not pass!" && exit 1
      fi
  after_script:
    - mkdir temp/junit
    - CopyFile --rename "temp/NVC/$RESULT_NAME/$RESULT_NAME.xml" "temp/junit/NVC_$RESULT_NAME.xml"


# ---------------
# ---- GHDL -----
# ---------------
.GHDL:
  parallel:
    matrix:
      - GHDL_BACKEND: ["llvm", "mcode"]
  image: ${CI_REGISTRY}/docker-images/ghdl:${GHDL_BACKEND}
  variables:
    SIMULATOR: "GHDL"

GHDL_OSVVM_compile:
  extends:
    - .GHDL
    - .compile
  needs:
    job: Scripts
    artifacts: true
  variables:
    TCL_FILE: "osvvm_compile.tcl"

GHDL_PoC_compile:
  extends:
    - .GHDL
    - .compile
  needs:
    - job: Scripts
      artifacts: true
    - job: GHDL_OSVVM_compile
      artifacts: true
  variables:
    TCL_FILE: "poc_compile.tcl"

GHDL_OSVVM_sim:
  extends:
    - .GHDL
    - .simulate
  needs:
    - job: Scripts
      artifacts: true
    - job: GHDL_OSVVM_compile
      artifacts: true
  only:
    - main
    - master
    - dev
  variables:
    TCL_FILE: "osvvm_sim.tcl"
    RESULT_NAME: "lib_RunAllTests"

GHDL_PoC_sim:
  extends:
    - .GHDL
    - .simulate
  needs:
    - job: Scripts
      artifacts: true
    - job: GHDL_PoC_compile
      artifacts: true
  variables:
    TCL_FILE: "poc_sim.tcl"
    RESULT_NAME: "tb_RunAllTests"
  artifacts:
    paths:
      - temp/junit

# ------------------
# ---- Riviera -----
# ------------------
.RIVIERA-PRO:
  image: ${CI_REGISTRY}/docker-images/rivierapro:latest
  variables:
    SIMULATOR: "Riviera-PRO"
    LM_LICENSE_FILE: "1717@flexlm.plc2.de:1718@flexlm.plc2.de:1719@flexlm.plc2.de"

RIVIERA_OSVVM_compile:
  extends:
    - .RIVIERA-PRO
    - .compile
  needs:
    job: Scripts
    artifacts: true
  variables:
    TCL_FILE: "osvvm_compile.tcl"

RIVIERA_PoC_compile:
  extends:
    - .RIVIERA-PRO
    - .compile
  needs:
    - job: Scripts
      artifacts: true
    - job: RIVIERA_OSVVM_compile
      artifacts: true
  variables:
    TCL_FILE: "poc_compile.tcl"

RIVIERA_OSVVM_sim:
  extends:
    - .RIVIERA-PRO
    - .simulate
  needs:
    - job: Scripts
      artifacts: true
    - job: RIVIERA_OSVVM_compile
      artifacts: true
    - job: RIVIERA_PoC_compile  # avoid license blocking
      artifacts: true
  only:
    - main
    - master
    - dev
  allow_failure: true
  variables:
    TCL_FILE: "osvvm_sim.tcl"
    RESULT_NAME: "lib_RunAllTests"

RIVIERA_PoC_sim:
  extends:
    - .RIVIERA-PRO
    - .simulate
  needs:
    - job: Scripts
      artifacts: true
    - job: RIVIERA_PoC_compile
      artifacts: true
    - job: RIVIERA_OSVVM_sim  # avoid license blocking
      optional: true
      artifacts: false
  variables:
    TCL_FILE: "poc_sim.tcl"
    RESULT_NAME: "tb_RunAllTests"
  artifacts:
    paths:
     - temp/junit


# --------------
# ---- NVC -----
# --------------
.NVC:
  image: ${CI_REGISTRY}/docker-images/nvc:latest
  variables:
    SIMULATOR: "NVC"

NVC_OSVVM_compile:
  extends:
    - .NVC
    - .compileNVC
  needs:
    job: Scripts
    artifacts: true
  variables:
    TCL_FILE: "osvvm_compile.tcl"

NVC_PoC_compile:
  extends:
    - .NVC
    - .compileNVC
  needs:
    - job: Scripts
      artifacts: true
    - job: NVC_OSVVM_compile
      artifacts: true
  variables:
    TCL_FILE: "poc_compile.tcl"

NVC_OSVVM_sim:
  extends:
    - .NVC
    - .simulateNVC
  needs:
    - job: Scripts
      artifacts:
    - job: NVC_OSVVM_compile
      artifacts: true
  only:
    - main
    - master
    - dev
  variables:
    TCL_FILE: "osvvm_sim.tcl"
    RESULT_NAME: "lib_RunAllTests"

NVC_PoC_sim:
  extends:
    - .NVC
    - .simulateNVC
  needs:
    - job: Scripts
      artifacts: true
    - job: NVC_PoC_compile
      artifacts: true
  variables:
    TCL_FILE: "poc_sim.tcl"
    RESULT_NAME: "tb_RunAllTests"
  artifacts:
    paths:
      - temp/junit


# --------------------------
# ----- Documentation ------
# --------------------------
MergeReports:
  image: ${CI_REGISTRY}/docker-images/base-image:alpine
  needs:
    - job: GHDL_PoC_sim
      artifacts: true
    - job: RIVIERA_PoC_sim
      artifacts: true
    - job: NVC_PoC_sim
      artifacts: true
  before_script:
    - pip install pyEDAA.Reports
    - pip install colorama
  script:
    - mkdir temp/report/unit
    - touch temp/report/unit/unittest.xml
    - pyedaa-reports -v unittest "--merge=Any-JUnit:temp/junit/*.xml" "--output=pyTest-JUnit:temp/report/unit/unittest.xml"
  artifacts:
    paths:
      - temp/report/unit/

Sphinx:
  image: ${CI_REGISTRY}/docker-images/base-image:alpine
  needs:
    - job: MergeReports
      artifacts: true
  parallel:
    matrix:
      - SPHINX_BUILDER: ["html", "latex"]
  before_script:
    - apt-get update
    - pip install -U -r docs/requirements.txt
  script:
    - cd docs
    - sphinx-build --verbose --builder ${SPHINX_BUILDER} -d _build/doctrees --jobs 4 -w _build/${SPHINX_BUILDER}.log . _build/${SPHINX_BUILDER}
  artifacts:
    paths:
      - docs/_build/${SPHINX_BUILDER}

MikTeX:
  needs:
    - job: Sphinx
      parallel:
        matrix:
          - SPHINX_BUILDER: "latex"
      artifacts: true
  image: ${CI_REGISTRY}/docker-images/miktex:sphinx
  script:
    - cd docs/_build/latex
    - exec-LaTeX.sh --xelatex "PoC.tex"
  after_script:
    - CopyFile docs/_build/latex/PoC.pdf .
  artifacts:
    paths:
      - ./*.pdf
  allow_failure: true


# ------------------
# ----- Pages ------
# ------------------
.pages:
  image: ${CI_REGISTRY}/docker-images/base-image:alpine
  variables:
    GIT_SUBMODULE_STRATEGY: normal
  pages: true
  before_script:
    - apk update
    - apk add tree
  script:
    - CopyDir docs/_build/html       public
    #- CopyFile PoC.pdf  public
    - tree public
  after_script:
    - echo "Pages accessible at ${CI_PAGES_URL}"
  artifacts:
    paths:
      - public


pagesGHDL:
  rules:
    - if: >
        $SIMULATOR_PAGES == "GHDL" &&
        $CI_PIPELINE_SOURCE == "push" &&
        $CI_COMMIT_BRANCH =~ /^(main|master|dev)$/
  needs:
    - job: GHDL_OSVVM_sim  # main only
      artifacts: true
      optional: true
    - job: GHDL_PoC_sim
      artifacts: true
      optional: true
  extends:
    - .pages

pagesRiviera:
  rules:
    - if: >
        $SIMULATOR_PAGES == "Riviera-PRO" &&
        $CI_PIPELINE_SOURCE == "push" &&
        $CI_COMMIT_BRANCH =~ /^(main|master|dev)$/
  needs:
    - job: RIVIERA_PoC_sim  # inherits artifacts from previous jobs
      artifacts: true
      optional: true
  extends:
    - .pages

pagesNVC:
  extends:
    - .pages
  rules:
    - if: >
        $SIMULATOR_PAGES == "NVC" &&
        $CI_PIPELINE_SOURCE == "push"
  needs:
    - job: NVC_OSVVM_sim
      artifacts: true
      optional: true
    - job: NVC_PoC_sim
      artifacts: true
      optional: true
    - job: Sphinx
      artifacts: true
